{{- define "main" }}
	<div class="summary">
		{{ $summary := .Site.Data.malaysia_food_and_beverage.summary}}
		<h2>Weekly Summary</h2>
		<p>{{ $summary }}</p>
	</div>
    <div class="articles">
        {{ $articles_data := .Site.Data.malaysia_food_and_beverage.articles }}
        {{ range $articles_data }}
        <div class="news-item">
            <!-- {{ if .site_icon }}
                <img src="{{ .site_icon }}" alt="{{ .site_name }}" class="site-icon">
            {{ end }} -->
            {{ if .thumbnail }}
                <img src="{{ .thumbnail }}" alt="Thumbnail for {{ .title }}" class="thumbnail">
            {{ end }}
            <h2><a href="{{ .link }}">{{ .title }}</a></h2>
            <p class="date">Date: {{ .date }}</p>
            <p class="source">Source: {{ .site_name }}</p>
        </div> 
        {{ end }}
    </div>
{{- end }}